.encabezdo{
    background: var(--color-encabezado);
    width: 100%;
    padding: 2% 1% 2% 1%;
}
.titulo{
    display: block;
    text-align: center;
    font-weight: 400;
    font-size: 2rem;
    color: var(--color-titulo);
}

.entrada-tablero {
    display: block;
    margin: 0 auto;
    width: 50%;
    border: 3px solid var(--verdeA);
    border-radius: 8px;
    background-color: var(--color-body);
    color: #FFF;
    font-family: var(--kanit);
    font-size: 1rem;
    font-weight: 300;
    padding: .75rem;
    text-align: center;
}
#mWin{
    color: var(--verde);
    font-family: var(--kanit);
    font-weight: 600;
    font-size: 3em;
    text-align: center;
    padding: 20px;

    animation-name: zoom;
    animation-duration: 2s;
}

@keyframes zoom {
    from {
        font-size: 0;
        color: var(--color-body);
    }
    to {
        color: var(--verde);
        font-size: 3em;
    }
  }
  #mLose{
    color: var(--salmon);
    font-family: var(--kanit);
    font-weight: 600;
    font-size: 3em;
    text-align: center;
    padding: 20px;

    animation-name: colored;
    animation-duration: 2s;
}

@keyframes colored {
    from {
        color: var(--color-body);
    }
    to {
        color: var(--salmon);
    }
  }
  
canvas {
    display: block;
    margin: 20px auto;
}

.btn-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn{
    display: block;
    margin: 10px;
    appearance: none;
    border: none;
    width: 180px;
    padding: 10px;
    color:#FFF;
    font-weight: bold;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    font-family: var(--kanit);

    transition: 0.5s all;
    cursor: pointer;

}
.btn:hover{
    transform: scale(1.2);
}

#startBtn{
    background-color: var(--fiusha);
}
#newWordBtn{
    background-color: var(--verdeA);
}
#inputBtn{
    background-color: var(--verdeA);
}

#form-Words{
    display: none;
}
#inputWord{
    margin: 0;
    border: 3px var(--verde) solid;
    border-radius: 8px;
    padding: 5px;
    background-color: var(--color-body);
    font-size: 20px;
    font-family: var(--kanit);
    text-align: center;
    color: var(--color-blanco);
}
#inputWord:focus {
    outline: none;
}

#inputWord, #inputBtn{
    display: block;
    margin: 20px auto;
}

@media only screen 
and (min-width: 280px)
and (max-width: 480px) { 
    .container__canvas canvas{
        width: 100%;
    }
}